<h1>Hi <%= name%> </h1>
<!-- use method-override from npm to use delete method instead of post -->
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>